body {
    background: #000000;
    font-family: 'Verdana', cursive; 
    line-height: 1.6;
    position: relative; /* Added to ensure z-index is applied correctly */
    z-index: 2; /* Higher than .logo-area to ensure text appears on top */
}

/* Style the main title */
h1 {
    text-align: center;
    font-size: 3.125em;
    font-weight: bold;
    margin: 20;
    z-index: 2; /* Ensure the title appears above the logo */
    color: #000000;
}

/* Style each section with a border and padding */
section {
    border: 1px solid #000;
    padding: 5px;
    margin-bottom: 20px;
    z-index: 2; /* Ensure the section appears above the logo */
}

/* Style the section titles */
section h2 {
    font-size: 20px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

/* Style the tables */
table {
    width: 33%;
    border-collapse: collapse;
    margin-bottom: 10px;
    z-index: 2;
}

/* Style the table headers */
th {
    text-align: left;
    font-size: 1.875em;
    padding: 0px ;
    font-weight: bold;
}

/* Style the table data */
td {
    text-align: left;
    font-size: 1.7em;
    padding: 2px 0;
    z-index: 2;
}

caption {
    text-align: left;
    font-size: 2.1875em;
    font-weight: bold;
    color: #000000;
    font-weight: bold;
    }


/* Additional specific styles for other elements as needed */

.container {
    display: flex;
    justify-content: space-around;
}

.list, .table {
    flex: 1; /* Die Elemente nehmen den verfügbaren Raum gleichmäßig ein */
}

.logo-area {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 300px;
    height: 300px;
    background-color: #fde6bc; /* Hintergrundfarbe des Logobereichs */
    border-radius: 50%; /* Kreisförmig */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; /* Lower than the text elements to ensure it stays in the background */
}

.logo-area img {
    max-width: 90%; /* Etwas Raum um das Logo lassen */
    max-height: 90%; /* Etwas Raum um das Logo lassen */
    z-index: 1; /* Ensure the image doesn't overlap the text */
}