<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Punkteanpassen</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/pure.css') }}">
    </head>
    <body>
        <h1>Punkteanpassen</h1>
        <p>{{message}}</p>
        <form  method="post">
        <input  type="number" value='{{  teams.score  }}' min="1"  name="score"  required>
        <input  type="text" value='{{  teams.team  }}'  name="teamname"  required>
        <input  type="submit">
    </form>
    </body>
</html>
