<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Admin</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/pure.css') }}">
    </head>
    <body>
        <h1>Adminpage</h1>
                        <table>
                            <thead>
                                <tr>
                                    <th>Rang</th>
                                    <th>Team</th>
                                    <th>Shots</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for team in teams %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ team.team }}</td>
                                    <td>{{ team.score }}</td>
                                    <td><a href="{{ url_for('loescher', id=team.id) }}">Löschen</a></td>
                                    <td><a href="{{ url_for('update', id=team.id) }}">Ändern</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                </table>
        </form> 
    </body>
</html>
