<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animated Space Background with Planets and Rocket</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="logo-area">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
    </div>

    <h1>Preisliste</h1>
    <div class="container">
        <table>
            <caption>Softgetränke</caption>
            <tbody>
                <tr>
                    <td>Mineralwasser mit/ohne</td>
                    <td>3dl/3.- Fr.</td>
                </tr>
                <tr>
                    <td>Coca Cola original/zero</td>
                    <td>3dl/3.- Fr.</td>
                </tr>
                <tr>
                    <td>Eistee Lemon</td>
                    <td>3dl/3.- Fr.</td>
                </tr>
                <tr>
                    <td>Sprite</td>
                    <td>3dl/3.- Fr.</td>
                </tr>
                <tr>
                    <td>Rivella Rot</td>
                    <td>3dl/3.- Fr.</td>
                </tr>
                <tr>
                    <td>Redbull</td>
                    <td>2.5dl/5.- Fr.</td>
                </tr>
                <tr>
                    <td>El Tony Mate</td>
                    <td>3.3dl/5.- Fr.</td>
                </tr>
            </tbody>
        </table>
        <table>
            <caption>Drinks </caption>
            <tbody>
                <tr>
                    <td>Turbo Mate</td>
                    <td> 10.- Fr.</td>
                </tr>
                <tr>
                    <td>Vodka-Energy</td>
                    <td> 10.- Fr.</td>
                </tr>
                <tr>
                    <td>Rum Cola</td>
                    <td> 10.- Fr.</td>
                
                </tr>
                <tr>
                    <td>Gin Tonic</td>
                    <td> 10.- Fr.</td>
                </tr>
                <tr>
                    <td>Bule Lagoon</td>
                    <td> 12.- Fr.</td>
                </tr>
                <tr>
                    <td>Tequilla Sunrise</td>
                    <td> 12.- Fr.</td>
                </tr>
                <tr>
                    <td>Trojka Ice</td>
                    <td> 8.- Fr.</td>
                </tr>
            </tbody>
        </table>

        
    </div>

    <div class="container">

        <table>
        <caption>Bier & Wein</caption>
            <tbody>
                <tr>
                    <td>Bier</td>
                    <td>3dl/5.- Fr.</td>
                </tr>
                <tr>
                    <td>Panaché</td>
                    <td>3dl/5.- Fr.</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Rütihöfler Rotwein</td>
                    <td>1dl/5.- Fr.</td>
                </tr>
                <tr>
                    <td>Birmenstorfer Weisswein</td>
                    <td>1dl/5.- Fr.</td>
                </tr>
                <tr>
                    <td>Gsprützte Wiise</td>
                    <td>7.- Fr.</td>
                </tr>

                <tr>
                    <td>Apérol Spritz</td>
                    <td>9.- Fr.</td>
                </tr>
                <tr>
                    <td>Hugo</td>
                    <td>9.- Fr.</td>
                </tr>
                <tr>
                    <td>Cüpli</td>
                    <td>7.- Fr.</td>
                </tr>
            </tbody>
        </table>
        <table>
            <caption>Shots 2cl/4.- Fr. (6 für 20.- Fr.)</caption>
            <tbody>
                <tr>
                    <td>Vodka</td>
                </tr>
                <tr>
                    <td>Tequilla</td>
                </tr>
                <tr>
                    <td>Ingwerer</td>
                </tr>
                <tr>
                    <td>Jägermeister</td>
                </tr>
                <tr>
                    <td>Rum</td>
                </tr>
                <tr>
                    <td>Gin</td>
                </tr>
                <tr>
                    <td>Wöschmaschine</td>
                </tr>
                <tr>
                    <td>Röteli</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Canvas element for the animated background -->
    <canvas id="backgroundCanvas"></canvas>
    
    <!-- JavaScript file for the background animation -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
