<!DOCTYPE html>
<html lang="de">
    <div class="logo-area">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
    </div>
    <head>
        <title>Preisliste</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>
        <h1>Preisliste</h1>
        <div class="container">
        <table>
            <caption>Longdrinks(3dl) 10.- Fr.</caption>
            <tbody>
                <tr>
                    <th>Spirituose</th>
                    <th>Basis</th>
                </tr>
                <tr>
                    <td>Vodka</td>
                    <td>Mate</td>
                </tr>
                <tr>
                    <td>Ingwerer</td>
                    <td>Redbull</td>
                </tr>
                <tr>
                    <td>Rum</td>
                    <td>Coca Cola</td>
                </tr>
                <tr>
                    <td>Gin</td>
                    <td>Sprite</td>
                </tr>
                <tr>
                    <td>Jägermeister</td>
                    <td>Tonic-Water</td>
                </tr>
                <tr>
                    <td> 
                    </td>
                    <td>De Marc Stink</td>
                </tr>
            </tbody>
        </table>
        <table>
            <caption>Shots 4.- Fr. (6 für 20.- Fr.)</caption>
            <tr>
                <td>Vodka</td>
            </tr>
            <tr>
                <td>Ingwerer</td>
            </tr>
            <tr>
                <td>Jägermeister</td>
            </tr>
            <tr>
                <td>Berliner Luft</td>
            </tr>
            <tr>
                <td>Wöschmaschine</td>
            </tr>
            <tr>
                <td>Jubla Rütihof Spezial</td>
            </tr>
        </table>
    </div>
    <div class="container">
        <table>
            <caption>Getränke</caption>
            <tbody>
                <tr>
                    <td>Softgetränke</td>
                    <td>3.- Fr.</td>
                </tr>
                <tr>
                    <td>Bier</td>
                    <td>5.- Fr.</td>
                </tr>
                <tr>
                    <td>Panache</td>
                    <td>5.- Fr.</td>
                </tr>
                <tr>
                    <td>Weisswein</td>
                    <td>4.- Fr.</td>
                </tr>
                <tr>
                    <td>Weisswein gespritzt(süss, sauer)</td>
                    <td>5.- Fr.</td>
                </tr>
                <tr>
                    <td>Rotwein</td>
                    <td>5.- Fr.</td>
                </tr>
                <tr>
                    <td>Birmenstorfer Traubentau</td>
                    <td>3.- Fr.</td>
                </tr>
                <tr>
                    <td>Güpli</td>
                    <td>5.- Fr.</td>
                </tr>
                <tr>
                    <td>Redbull</td>
                    <td>5.- Fr.</td>
                </tr>
                <tr>
                    <td>El Tony Mate</td>
                    <td>5.- Fr.</td>
                </tr>
            </tbody>
        </table>
        <table>
            <caption>Spritzig</caption>
            <tbody>
            <tr>
                <td>Aperol Spritz</td>
                <td>8.- Fr.</td>
            </tr>
            <tr>
                <td>Trojka Ice</td>
                <td>8.- Fr.</td>
            </tr>
            <tr>
                <td>Sangria</td>
                <td>8.- Fr.</td>
            </tr>
            <tr>
                <td>Virgin Sangria</td>
                <td>5.- Fr.</td>
            </tr>
            </tbody>
        </table>
    </div>
    </body>

</html>